name: Build and publish add-on

on:
  push:
    branches: [ "main" ]
    paths:
      - "nordvpn/**"
      - ".github/workflows/build.yml"
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push
        uses: home-assistant/builder@master
        with:
          args: >
            --amd64
            --aarch64
            --target nordvpn
            --docker-hub ghcr.io/${{ github.repository_owner }}
            --image ha-addon-nordvpn
            --tag latest
